<div class="cart-preview">
    <ul *ngIf="cartItemsResponse.length > 0; else emptyCart">
        <li *ngFor="let cart of cartItemsResponse">
            <ng-container *ngFor="let item of cart.data.cartItems">
                <img [src]="item.productImageUrl" alt="Product Image" width="30" height="30" />
                <span>{{ item.productShortName }} ({{ item.quantity }})</span>
                <span class="price">${{ item.productPrice * item.quantity }}</span>
            </ng-container>
        </li>
    </ul>
    <ng-template #emptyCart>
        <p>Your cart is empty.</p>
    </ng-template>
    <div class="cart-total">
        Total: ${{ cartTotal }}
    </div>
</div>