.cart-preview .cart-actions {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.cart-preview .cart-actions button {
  flex: 1;
}

.cart-subtotal {
  color: #000;
  margin: 5px 3px;
}
