<div class="card h-100">
    <img [src]="productDetail.productImageUrl" class="card-img-top" alt="{{ productDetail.productShortName }}">
    <div class="card-body">
        <h5 class="card-title">{{ productDetail.productName }}</h5>
        <p class="card-text text-danger">${{ productDetail.productPrice }}</p>
        <div>
            <span class="text-muted">({{ productDetail.categoryName }})</span>
        </div>
    </div>
    <div class="card-footer bg-transparent">
        <button class="btn btn-success btn-sm w-100" (click)="addToCart(productDetail)"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
    </div>
</div>