.main-nav {
  background-color: #198754;
  color: #ffffff;
  padding: 10px 0;
}

.main-nav .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin: 0 auto;
}

.brand-logo a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

.brand-logo a:hover {
  text-decoration: underline;
}

.nav-links ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
}

.nav-links ul li a:hover {
  text-decoration: underline;
}

.cart-item {
  position: relative;
}

.cart-item .cart-count {
  color: #fff;
  padding: 0px 5px;
  font-size: 15px;
  position: absolute;
}

.cart-preview-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cart-preview-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-preview-dropdown li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
