<div class="page">
    <!-- Category List -->
    <div class="text-center mt-4">
        <button *ngFor="let category of categories" class="btn btn-primary btn-sm mx-1"
            (click)="toggleCategoryFilter(category.name)">
            {{ category.name }}
        </button>
    </div>

    <!-- Products List -->
    <div class="row mt-4" *ngIf="productsList.length > 0; else loading">
        <div class="col-md-3 mb-4" *ngFor="let productDetails of productsList">
            <app-product-details [productDetail]="productDetails"></app-product-details>
        </div>
    </div>

    <ng-template #loading>
        <p>Loading products...</p>
    </ng-template>
</div>