<!-- Cart Items -->
<div class="container mt-4">
    <h3>Your Cart</h3>

    <!-- Check if cart has items -->
    <div *ngIf="cartItems && cartItems.length > 0; else emptyCart">
        <div class="row mt-3" *ngFor="let item of cartItems">
            <div class="col-md-2">
                <img [src]="item.productImageUrl" class="img-fluid" alt="{{ item.productShortName }}">
            </div>
            <div class="col-md-2">
                <h5>{{ item.productName }}</h5>
                <p class="text-muted">Category: {{ item.categoryName }}</p>
                <p>Price: ${{ item.productPrice }}</p>
                <p>Quantity: {{ item.quantity }}</p>
            </div>
            <div class="button-group col-md-2">
                <button class="btn btn-danger" (click)="onRemoveItemFromCart(item)">Remove</button>
            </div>
        </div>
        <!-- Total Price -->
        <div class="mt-4 text-end">
            <h5>Total: ${{ cartTotal }}</h5>
        </div>

        <!-- Checkout Button -->
        <div class="mt-4 text-end">
            <button class="btn btn-primary" (click)="onCheckoutClick()">Checkout</button>
        </div>
    </div>

    <!-- Empty Cart Message -->
    <ng-template #emptyCart>
        <p>Your cart is empty.</p>
        <p *ngIf="!isUserLoggedIn">Please log in to see your cart.</p>
    </ng-template>
</div>