<nav class="top-nav">
    <div class="nav-items">
        <div class="contact-info">
            <i class="fa fa-envelope"></i>
            <a href="mailto:info@company.com">info&#64;company.com</a>
            <i class="fa fa-phone"></i>
            <a href="tel:010-020-0340">010-020-0340</a>
        </div>
        <div class="social-links">
            <a href="https://fb.com/templatemo" target="_blank" rel="sponsored">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</nav>